@tailwind base;

:root {
  --main-purple: #3d2e3c;
  --main-purple-lightened: #70616f;
  --main-black: #221f1f;
  --main-white: #fff;
  --light-gray: #d9d9d9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display";
}

p,
a,
ul,
li,
div {
  font-family: "Quicksand";
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

@tailwind components;

.cart-icon {
  color: var(--main-purple);
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-link {
  color: var(--main-purple);
  border-bottom: 2px solid transparent;
  font-size: 1.25rem;
}

.socials-nav {
  color: var(--main-purple);
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--main-purple);
  border-bottom: 2px solid var(--main-purple);
}

.nav-logo {
  max-width: 250px;
}

.hero-title {
  font-size: 6rem;
}

.hero-content {
  text-align: right;
  color: var(--main-purple);
}

.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.features-icon {
  max-width: 250px;
}

#dayPass-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#monthlyMemberships-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

#membership-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

@media screen and (max-width: 1280px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .nav-link:hover {
    border-bottom: 2px solid transparent;
  }
}

@media screen and (max-width: 640px) {
  .nav-logo {
    max-width: 150px;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero-content {
    text-align: center;
  }
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  #dayPass-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  #monthlyMemberships-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
  #membership-benefits {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}

@tailwind utilities;

.purple {
  color: var(--main-purple);
}

.main-btn {
  background-color: var(--main-purple);
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.main-btn:hover {
  background-color: var(--main-purple-lightened);
}
